@page
@model SparkAuto.Pages.Services.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container row pt-4 pb-2">
    <div class="col-6">
        <h2 class="text-info py-2">Service Details</h2>
    </div>
    <div class="col-3 offset-3 text-right py-2">
        <a asp-page="./History" asp-route-carId="@Model.ServiceHeader.CarId" class="btn btn-outline-success form-control">
            Back to History
        </a>
    </div>
</div>

<div class="container whitebackground">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-1 text-center pt-3 text-white-50">
                <i class="far fa-user fa-2x"></i>
            </div>
            <div class="col-5">
                <p>@Model.ServiceHeader.Car.ApplicationUser.Name</p>
                <p>@Model.ServiceHeader.Car.ApplicationUser.Email</p>
                @* <p>@Model.CarServiceModelView.Car.ApplicationUser.PhoneNumber</p> *@
            </div>
            <div class="col-5 text-right">
                <p>@Model.ServiceHeader.Car.Colour @Model.ServiceHeader.Car.Make @Model.ServiceHeader.Car.Model @Model.ServiceHeader.Car.Style</p>
                <p>@Model.ServiceHeader.Car.Year</p>
                @* <p>@Model.CarServiceModelView.Car.Colour</p> *@
            </div>
            <div class="col-1 text-right pt-3 text-white-50">
                <i class="fas fa-car fa-2x"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="row pt-3">
                <div class="col-7">
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>@Html.DisplayNameFor(n => n.ServiceDetails.ServiceName)</th>
                            <th>@Html.DisplayNameFor(n => n.ServiceDetails.ServicePrice)</th>
                        </tr>
                        @foreach (var service in Model.ServiceDetailsList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(n => service.ServiceName)</td>
                                <td>@Html.DisplayFor(n => service.ServicePrice)</td>
                            </tr>
                        }
                        <tr style="background-color: #e2fee2">
                            <td colspan="1">
                                <h4 class="text-primary">Total Price</h4>
                            </td>
                            <td colspan="2">
                                <h4 class="text-success">$ @Model.ServiceHeader.TotalPrice</h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-5 px-4 pb-2">
                    <div class="row">
                        <div class="col-3" style="border: none">
                            <label asp-for="ServiceHeader.Miles">Miles</label>
                        </div>
                        <div class="col-9">
                            <input asp-for="ServiceHeader.Miles" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-12">
                            <textarea placeholder="comments.." asp-for="ServiceHeader.Details" readonly="readonly" style="height: 100px" class="form-control">

                            </textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

