@page
@using Microsoft.VisualStudio.Web.CodeGeneration.Contracts.Messaging
@model SparkAuto.Pages.ServiceTypes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />


<div class="border whitebackground">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Service Types</h2>
        </div>
        <div class="col-6 text-right d-flex align-items-center justify-content-end">
            <a asp-page="Create" class="btn btn-sm btn-info"><i class="fas fa-plus"></i>&nbsp;New Service</a>
        </div>
    </div>
    <div>
        @if (Model.Services.Count == 0)
        {
            <p> No services found. please add a service.</p>
        }
        else
        {
            <table class="table table-striped border">
                <thead class="table-secondary">
                    <tr>
                        <th>@Html.DisplayNameFor(s => s.Services[0].Name)</th>
                        <th>@Html.DisplayNameFor(s => s.Services[0].Price)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.Services)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => service.Name)</td>
                            <td>@Html.DisplayFor(m => service.Price)</td>
                            <td style="width: 100px">
                                <div class="btn-group" role="group">
                                    <a asp-page="Edit" asp-route-serviceId="@service.Id" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    <a asp-page="Details" asp-route-serviceId="@service.Id" class="btn btn-success"><i class="fas fa-list-ul"></i></a>
                                    <a asp-page="Delete" asp-route-serviceId="@service.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>