@page

@model SparkAuto.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="get" , asp-page="Index">
    <div class="border whitebackground">
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Customers</h2>
            </div>
            <div class="col-6 text-right d-flex align-items-center justify-content-end">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-info"><i class="fas fa-plus"></i>&nbsp;New User</a>
            </div>
        </div>
    </div>

    <div class="whitebackground border">
        <div style="height: 60px;" class="container border border-secondary">
            <div class="row">
                <div class="col-11">
                    <div class="row" style="padding-top: 10px">
                        <div class="col-4">
                            @Html.Editor("searchName",
                                new { htmlAttributes = new { @class = "form-control", placeholder = "search by name", autocomplete = "off" } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchPhone",
                                new { htmlAttributes = new { @class = "form-control", placeholder = "search by phone number", autocomplete = "off" } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchEmail",
                                new { htmlAttributes = new { @class = "form-control", placeholder = "search by email", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
                <div class="col-1" style="padding-top: 10px"><button type="submit" class="btn btn-outline-success form-control"><i class="fas fa-search"></i></button></div>
            </div>
        </div>
    </div>

    <div class="whitebackground border">
        <br />
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(n => @Model.ViewModel.ListOfUsers[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(n => @Model.ViewModel.ListOfUsers[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(n => @Model.ViewModel.ListOfUsers[0].PhoneNumber)
                </th>
                <th></th>
                <th></th>

            </tr>

            @foreach (var user in @Model.ViewModel.ListOfUsers)
            {
                <tr>
                    <td>@Html.DisplayFor(m => user.Name)</td>
                    <td>@Html.DisplayFor(m => user.Email)</td>
                    <td>@Html.DisplayFor(m => user.PhoneNumber)</td>
                    <td style="width: 100px">
                        <div class="btn-group">
                            <a asp-page="Edit" asp-route-emailAddress="@user.Email" class="btn btn-success text-white"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger text-white"><i class="fa fa-trash-alt"></i></a>
                        </div>
                    </td>
                    <td></td>
                </tr>
            }
            <tr>
                <td colspan="5" class="text-right">
                    <div class="btn-group" page-model="@Model.ViewModel.PaginationDetails" asp-action="Index" page-class="btn border"
                         page-class-normal="btn btn-light" page-class-selected="active btn btn-info"></div>
                </td>
            </tr>
        </table>
    </div>
</form>